body {
  background-color: rebeccapurple;
}

.container {
  background-color: white;
  border-radius: 20px;
}

li {
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
}

button {
  margin: 10px;;
}